body {
    text-align: center;
    background-color: aqua;
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: black;
    display: block;
    margin: auto;
    border: 2px solid grey;
}